# ============================================================
# PYTHON
# ============================================================

__pycache__/
*.py[cod]
*$py.class

# Ambiente Virtual
.venv/
venv/

# Build
build/
dist/
*.egg-info/

# ============================================================
# JUPYTER
# ============================================================

.ipynb_checkpoints/

# ============================================================
# DADOS
# ============================================================

data/raw/
data/processed/
data/exports/

# ============================================================
# LOGS
# ============================================================

logs/
*.log

# ============================================================
# CONFIGURAÇÕES
# ============================================================

.env
.env.*

# ============================================================
# IDE
# ============================================================

.vscode/
.idea/

# ============================================================
# SISTEMA OPERACIONAL
# ============================================================

.DS_Store
Thumbs.db
